* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: "Segoe UI" sans-serif;
    line-height: 135%;
}

header,
footer {
    width: 100%;
    background-color: #d1d9ff;
    min-height: 50px;
}

header {
    border-bottom: 2px solid silver;
}

footer {
    border-bottom: 2px solid silver;
    margin-top: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #f58b8b;
    text-decoration: none;
}

img {
    max-height: 100%;
}


/* Блок для выделения текста  */

::selection {
    background: #d1d9ff;
    color: #fff;
}


/* Табы  */

#tab2,
#tab3 {
    position: fixed;
}

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 > div {
    padding: 5px;
    border: 1px solid #aaa;
}

.menu1 > a {
    line-height: 28px;
    background: #fff;
    text-decoration: none;
}

#tab2,
#tab3,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1) {
    display: none;
}

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3) {
    display: block;
}

.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3) {
    border-bottom: 2px solid #fff;
}

.klienti {
    height: 650px;
    overflow-y: scroll;
    margin-left: 10px;
}


/* Стили для редактирования  */

table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: black;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
}

table.gridtable th {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: black;
    background-color: #a8a8a8;
}

table.gridtable td {
    border-width: 1px;
    font-size: 9px;
    padding: 8px;
    border: none;
    background-color: #ffffff;
    text-align: center;
}

textarea {
    font-family: verdana, arial, sans-serif;
    width: 700px;
    height: 400px;
    font-size: 11px;
    border: solid black 2px;
}

.headerright {
    text-align: right;
    margin-right: 1%;
}

.headerleft {
    margin-left: 1%;
}

.tablica {
    margin-top: 0px;
}

.frameall {
    margin-left: 1000px;
}